body
{
    font-family: 'Roboto Slab', serif;
    color:white;
    background-color:#111111;
}

.logo
{   
    padding-bottom: 50px;
    padding-top: 20px;
}


.pic
{
    padding-bottom: 10px;
    padding-left: 25px;
}

.pic:hover
{       
        transform: scale(1.02);
}

.circle{
    border-radius: 50%;
}

p{
    font-size: larger;
}

